<html>
<body>
<header>
	<h1>Ntal </h1>
</header>
<section>
	 <form action="/entrar" method="post">
    <input type="text" name="usuario[nome]" placeholder="Digite seu nome.">
    <br>
    <input type="text" name="usuario[email]" placeholder="Digite seu e-mail.">
    <br>
    <button type="submit">Entrar</button>
  </form>
</section>
<footer>
	<small>Ntalk - Agenda de contatos</small>
</footer>
</body>
</html>